.constructor__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}


.constructor__item-list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.constructor__item-list:first-child {
    margin: 0 0 0 32px;
}

.constructor__item-list:last-child {
    margin: 0 0 0 32px;
}

.constructor__content-bottom {
    margin-bottom: 52px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.constructor__block-amount {
    display: flex;
    align-items: center;
}

.constructor__text-amount {
    margin: 0 9.5px 0 0;
}