.app {
  width: 100%;
  margin: 0 auto;
  padding: 0; 
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

::-webkit-scrollbar-track {
  background: #2F2F37;;
}

::-webkit-scrollbar-thumb {
  background: #8585AD;;
}