.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}

.button {
    display: flex;
    padding: 0;
    align-self: center;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    background: transparent;
    opacity: 1;
}

.button:hover {
    opacity: 0.6;
}

.footer {
    display: flex;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}